body {
    background-color: #424242;
    display: flex;
}

h3 {
    color: lightgray;
}

.container {
    margin: auto;
    display: flex;
    flex-direction: column;
}

.div-button {
    margin-top: 10px;
    margin-bottom: 5px;
    margin-right: 5px;
}